{% extends 'base.html' %}

{% block title %}  Favorites {% endblock %} 


{% block content %} 

<form class = 'form-group' method = 'POST'>
    <div class = ' mt-5 container'>
        <div class = 'mt-5 row'>
            <div class = 'text-center'>
                <button formaction = '/edit-favorites' class = 'btn btn-outline-dark text-info btn-lg'> Edit Favorites </button>
                <button formaction = '/clear-favorites' class = 'btn btn-outline-dark text-info btn-lg'> Clear Favorites </button>
            </div>
        </div>
    </div>
</form>

    <div class = 'container'>
        <div class = 'row'>
            <div class = 'mt-5 col-12'>
                {% for i in favorites %}
                    <p class = 'fs-5 text-center'> <b> <a class = 'text-decoration-none text-center text-info' href = '/get-page?title={{ i.favorited_page }}'> {{ i.favorited_page }} </a> </b> </p>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}