{% extends 'base.html' %} 

{% block title %} {{ user }} Search History {% endblock %} 

{% block content %} 

<form class = 'text-center' action = '/remove-history-item' method = 'POST'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'mt-5 col-12'>
                    {% for search in searches %}
                        <p class = 'fs-5 text-center text-info'> <b> <a class = 'text-info text-decoration-none' href = ""> {{ search.search_term }} </b> || {{ search.search_timestamp }}</a> <button class = 'btn btn-outline-danger text-center' formaction = '/remove-history-item?search_term={{ search.search_term }}&search_timestamp={{ search.search_timestamp }}'> Remove </button> </p>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
</form>

<form action = '/search-history'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-12'>
                <div class = 'text-center'>
                    <button class = 'mt-5 btn btn-outline-dark text-info text-center btn-lg' type = 'submit'> Done </button>
                </div>
            </div>
        </div>
    </div>
</form>
    

{% endblock %}