{% extends 'base.html' %} 

{% block title %} {{ data.title }} {% endblock %}

{% block content %} 

<form action = '/favorites?favorited_page={{ favorited_page }}' method = 'POST'>  

    <h1 class = 'display-3 text-center'> {{ data.title }} <button class = 'btn btn-outline-dark text-info text-center btn-lg' type = 'submit'> Add to Favorites </button>

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %} 

        <p class = 'fs-5 text-danger text-center'> 
            {% for error in field.errors %} 
                {{ error }}
            {% endfor %}
        </p>

        {% endfor %}
  </form>

    <p id = 'wiki-page' class = 'fs-4 fw-normal text-start'> {{ html }} </p>
   

{% endblock %}
