{% extends 'base.html' %} 

{% block title %} {{ user }} Search History {% endblock %} 

{% block content %} 

<form class = 'text-center' action = '/search-pages' method = 'POST'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'mt-5 col-12'>
                    {% for search in searches %}
                        <p class = 'fs-5 text-center text-info'> <b> <a class = 'text-info text-decoration-none' href = ""> {{ search.search_term }} </b> || {{ search.search_timestamp }}</a> </b>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    <button formaction = '/edit-searches' class = 'mt-5 btn btn-outline-dark text-info text-center btn-lg' type = 'submit'> Edit Searches </button>
    <button formaction = '/clear-history' class = 'mt-5 btn btn-outline-dark text-info text-center btn-lg' type = 'submit'> Clear History </button>
</form>
    
{% endblock %}